.home-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  color: $color-secundair-magenta;
  align-self: center;
  justify-items: center;
  @media screen and (max-width: $max-width-medium) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.5fr;
  }
}

.grid-header {
  //grid-area: header;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  &__header {
    margin-bottom: 1rem;
    font-size: $font-size-huge;
  }
  &__intro {
    font-size: $font-size-default;
    @media screen and (max-width: $max-width-small) {
      font-size: $font-size-small;
    }
  }
}

.frontend {
  //grid-area: frontend;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  &__img {
    border-radius: 50%;
    border: 5px solid $color-secundair-magenta;
    @media screen and (max-width: $max-width-small) {
      max-width: 400px;
      border: 2px solid $color-secundair-magenta;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}
.boas {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.salim {
  //grid-area: salim;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.jack {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
}
.bettina {
  //grid-area: bettina;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }
}
.micha {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
}
.george {
  //grid-area: george;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }
}
.yacine {
  //grid-area: yacine;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
}

.lesley {
  //grid-area: lesley;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }
}

.luisa {
  //grid-area: luisa;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
  }
}

.bosko {
  //grid-area: bosko;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  @media screen and (max-width: $max-width-medium) {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
  }
}

.persoon {
  max-width: 100px;
  &__naam {
    font-size: $font-size-header;
    text-align: center;
    @media screen and (max-width: $max-width-small) {
      fontsize: $font-size-default;
    }
  }
  &__bijschrift {
    font-size: $font-size-small;
  }
}

.image-persoon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid $color-secundair-magenta;
}
