@import "../../constants/scss_basic_var/Variables.scss";

.border {
  border-bottom: 2px solid $color-neutral-grey-2;
  border-right: 2px solid $color-neutral-grey-2;
  &:hover {
    border-bottom: 2px solid $color-primary-red;
    border-right: 2px solid $color-primary-red;
    cursor: pointer;
  }

  .character {
    background-color: $color-neutral-grey-1;

    &__text {
      text-align: center;
      text-decoration: dotted;
      font-size: $font-size-header;
    }

    &__img {
      padding: $padding-default;
      width: 30rem;
      height: 30rem;
      // @media screen and (max-width: 40rem) {
      //   width: 20rem;
      //   height: 20rem;
      // }
      //pointer-events: none;
    }
    &__header {
      padding: $padding-default;
      text-align: center;
      font-size: $font-size-header;
      color: $color-secundair-magenta;
      //pointer-events: none;
    }
    &-component {
      list-style-type: none;
      padding-bottom: 2rem;
      padding-left: 1rem;
      :hover {
        text-decoration: underline;
        text-decoration-color: $color-primary-black;
        list-style-type: none;
      }
      &__eigenschap {
        list-style-type: none;
        font-weight: 700;
      }
    }
  }

  // .badge {
  //   background-color: red;
  //   color: black;
  //   top: 10px;
  //   right: 20px;
  //   font-size: 17px;
  //   position: absolute;
  //   z-index: 0;
  // }
  .badge {
    $type: status;
    @if $type == "alive" {
      color: pink;
    } @else if $type == "dead" {
      color: blue;
    } @else {
      color: green;
    }
  }
}
