@import "../../constants/scss_basic_var/Variables.scss";

// .character-detail {
//   background-color: $color-neutral-grey-1;

//   &__text {
//     text-align: center;
//   }

//   &__figure {
//     display: inline-block;
//     vertical-align: top;
//     position: relative;
//     margin: 0.5em;
//     font-size: 0.8em;
//     background: white;
//     overflow: hidden;
//     //float: right;
//     &__img {
//       padding: $padding-default;
//       width: 150px;
//       height: 150px;
//     }
//   }

//   &__eigenschap {
//     list-style-type: none;
//   }

//   &__header {
//     padding: $padding-default;
//     text-align: center;
//     font-size: $font-size-header;
//   }
//   &__footer {
//     position: relative;

//     &__img {
//       width: 5rem;
//       margin-left: 2rem;
//     }
//     &__kopen {
//       text-align: center;
//       padding: 1.5rem;
//       width: 2rem;
//       height: 1rem;
//       background-color: $color-dark-blue;
//       position: absolute;
//       margin-left: 2rem;
//       color: $color-primary-white;
//       &__plus {
//         font-weight: bolder;
//         font-size: 2rem;
//         padding-right: 1rem;
//         position: absolute;
//         top: 0rem;
//         left: 1.5rem;
//       }
//     }
//   }
// }
.border {
  border-bottom: 2px solid $color-neutral-grey-2;
  border-right: 2px solid $color-neutral-grey-2;
  &:hover {
    border-bottom: 2px solid $color-primary-red;
    border-right: 2px solid $color-primary-red;
    cursor: pointer;
  }

  .character {
    background-color: $color-neutral-grey-1;

    &__text {
      text-align: center;
      text-decoration: dotted;
      font-size: $font-size-header;
    }

    &__img {
      padding: $padding-default;
      width: 30rem;
      //pointer-events: none;
    }
    &__header {
      padding: $padding-default;
      text-align: center;
      font-size: $font-size-header;
      color: $color-secundair-magenta;
      //pointer-events: none;
    }
    &-component {
      list-style-type: none;
      :hover {
        text-decoration: underline;
        text-decoration-color: $color-primary-black;
        list-style-type: none;
      }
      &__eigenschap {
        list-style-type: none;
      }
    }

    &__footer {
      position: relative;

      &__img {
        width: 5rem;
        margin-left: 2rem;
      }
      &__kopen {
        text-align: center;
        padding: 1.5rem;
        width: 10rem;
        height: 5rem;
        background-color: $color-dark-blue;
        position: absolute;
        margin-left: 2rem;
        color: $color-primary-white;
        &__plus {
          font-weight: bolder;
          font-size: 4rem;
          padding-right: 1rem;
          position: absolute;
          top: 0rem;
          left: 1.5rem;
        }
      }
    }
  }
}
