@import "../../constants/scss_basic_var/Variables.scss";

//dit is ook voor episode en locatiecomponenten, maar durfde de naam niet te wijzigen
.border {
  border-radius: 10%;
  border: 2px solid $color-secundair-magenta;
  background-color: $color-neutral-grey-1;

  &:hover {
    border-bottom: 2px solid $color-primary-black;
    border-right: 2px solid $color-primary-black;
    cursor: pointer;
  }

  .character {
    &__text {
      text-align: center;
      text-decoration: dotted;
      font-size: $font-size-header;
    }

    &__img {
      padding: $padding-default;
      width: 30rem;
      height: 30rem;
      border-radius: 10%;

      @media screen and (max-width: $max-width-medium) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25rem;
        height: 25rem;
      }
    }
    &__header {
      padding: $padding-default;
      text-align: center;
      font-size: $font-size-header;
      color: $color-secundair-magenta;
    }
    &-component {
      list-style-type: none;
      padding-bottom: 2rem;
      padding-left: 1rem;
      :hover {
        text-decoration: underline;
        text-decoration-color: $color-primary-black;
        list-style-type: none;
      }
      &__eigenschap {
        list-style-type: none;
        font-weight: 700;
      }
      @media screen and (max-width: $max-width-medium) {
        padding-left: auto;
      }
    }
  }
}
