@import "../../constants/scss_basic_var/Variables.scss";

.pagination {
  min-width: 82rem;
  max-width: 140rem;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: $color-primary-white;
  margin: auto;
}

.button-pagination {
  background: $color-secundair-magenta;
  border: 1px solid $color-primary-red;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: $color-primary-white;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-logo;
  padding: 1.2rem 1.4rem;
  margin: 1rem 5rem;
  //position: fixed;
}
