.container__form {
  max-width: $max-width-max;
  max-height: 1200px;
  display: grid;
  grid-template-columns: 1fr, 3fr, 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  background-color: $color-primary-white;
  padding: 1rem 4rem;
  margin: auto;

  @media screen and (max-width: $max-width-normal) {
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }

  @media screen and (max-width: $max-width-medium) {
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    .container__form {
      max-width: 480px;
    }
  }

  @media screen and (max-width: $max-width-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 0;
    margin-right: 0;
    // .main {
    //   max-width: 840px;
    //   margin-left: 0;
    //   margin-right: 0;
    // }
    .container__form__input {
      max-width: 480px;
    }
  } //moet nog iest met lettergrootte

  &__label {
    font-size: $font-size-header;
    font-weight: 700;
    padding-bottom: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  &__input {
    margin-bottom: 2rem;
  }
  &__btn {
    background: $color-primary-red;
    opacity: 0.5;
    border: 1px solid $color-primary-red;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: $color-primary-white;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-logo;
    padding: 1.2rem 1.4rem;
    margin: 1rem 5rem;
    &:hover {
      opacity: 1;
      transform: scale(1.02) perspective(0px);
      box-shadow: 4px 4px 4px rgba(60, 60, 93, 0.33);
    }
    @media screen and (max-width: 875px) {
      padding: 0.8rem 1rem;
    }
  }
}
