@import "../../constants/scss_basic_var/Variables.scss";

// .page-wrapper {
//   min-height: 100vh;
//   max-width: 1400px;
//   margin: 0 auto;
// }

.container__main {
  min-width: 82rem;
  max-width: 140rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  background-color: $color-primary-white;
  padding: 1rem 4rem;
  margin: auto;
}
